@charset "utf-8";
/* CSS Document */

.tahoma {
	font-family:Tahoma, Geneva, sans-serif;
}
.kanda_reg {
	font-family: 'psl_kanda_proregular';
}
.kanda_bold {
	font-family: 'psl_kanda_probold';
}


@font-face {
	font-family: 'psl_kanda_proregular';
    src:url('../font/psl152pro-webfont.eot');
    src: url('../font/psl152pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/psl152pro-webfont.woff2') format('woff2'),
         url('../font/psl152pro-webfont.woff') format('woff'),
         url('../font/psl152pro-webfont.ttf') format('truetype'),
         url('../font/psl152pro-webfont.svg#psl_kanda_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'psl_kanda_probold';
    src: url('../font/psl154pro-webfont.eot');
    src: url('../font/psl154pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/psl154pro-webfont.woff2') format('woff2'),
         url('../font/psl154pro-webfont.woff') format('woff'),
         url('../font/psl154pro-webfont.ttf') format('truetype'),
         url('../font/psl154pro-webfont.svg#psl_kanda_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}